{{#packageName}}
package {{packageName}};
{{/packageName}}

import io.reactivex.Observable;
import io.reactivex.Single;
import io.vertx.core.Handler;
import io.vertx.core.Vertx;
import io.vertx.core.http.HttpServerRequest;
import io.vertx.grpc.server.GrpcServer;

public class {{className}}  {
    private final GrpcServer server;

    public {{className}}(Vertx vertx) {
        this.server = GrpcServer.server(vertx);
    }

{{#service}}
    public interface {{serviceName}}Api {
{{#unaryMethods}}
        Single<{{outputType}}> {{methodName}}({{inputType}} request);
{{/unaryMethods}}
{{#unaryManyMethods}}
        Observable<{{outputType}}> {{methodName}}({{inputType}} request);
{{/unaryManyMethods}}
{{#manyUnaryMethods}}
        Single<{{outputType}}> {{methodName}}(Observable<{{inputType}}> request);
{{/manyUnaryMethods}}
{{#manyManyMethods}}
        Observable<{{outputType}}> {{methodName}}(Observable<{{inputType}}> request);
{{/manyManyMethods}}
    }

    public {{className}} callHandlers({{serviceName}}Api implementation) {
{{#unaryMethods}}
        server.callHandler({{serviceName}}Grpc.{{methodNameGetter}}(), request -> {
            request.handler(req -> implementation.{{methodName}}({{inputType}}.fromProto(req))
                    .doOnSuccess(resp -> request.response().end({{outputType}}.toProto(resp)))
                    .subscribe());
        });
{{/unaryMethods}}
{{#unaryManyMethods}}
        server.callHandler({{serviceName}}Grpc.{{methodNameGetter}}(), request -> {
            request.handler(req -> implementation.{{methodName}}(req)
                    .doOnNext(msg -> request.response().write(msg))
                    .doOnComplete(() -> request.response().end())
                    .subscribe());
        });
{{/unaryManyMethods}}
{{#manyUnaryMethods}}
        server.callHandler({{serviceName}}Grpc.{{methodNameGetter}}(), request -> {
            implementation.{{methodName}}(Observable.create(emitter -> {
                        request.handler(emitter::onNext);
                        request.endHandler($ -> emitter.onComplete());
                    }))
                    .doOnSuccess(resp -> request.response().end(resp))
                    .subscribe();
        });
{{/manyUnaryMethods}}
{{#manyManyMethods}}
        server.callHandler({{serviceName}}Grpc.{{methodNameGetter}}(), request -> {
            implementation.{{methodName}}(Observable.create(emitter -> {
                        request.handler(emitter::onNext);
                        request.endHandler($ -> emitter.onComplete());
                    }))
                    .doOnNext(msg -> request.response().write(msg))
                    .doOnComplete(() -> request.response().end())
                    .subscribe();
        });
{{/manyManyMethods}}
        return this;
    }

    public Handler<HttpServerRequest> getGrpcServer() {
        return server;
    }
{{/service}}
}