{{#packageName}}
package {{packageName}};
{{/packageName}}

import io.vertx.core.Future;
import io.vertx.grpc.client.GrpcClientRequest;

public interface {{className}} {
{{#unaryUnaryMethods}}
    Future<{{outputType}}> {{methodName}}({{inputType}} request);
{{/unaryUnaryMethods}}
{{#manyUnaryMethods}}
    Future<GrpcClientRequest<{{inputType}}, {{outputType}}>> {{methodName}}();
{{/manyUnaryMethods}}
}