{{#packageName}}
package {{packageName}};
{{/packageName}}

import io.vertx.core.Future;
import io.vertx.grpc.server.GrpcServerRequest;

public interface {{className}} {
{{#unaryMethods}}
    Future<{{outputType}}> {{methodName}}({{inputType}} request);
{{/unaryMethods}}
{{#streamMethods}}
    void {{methodName}}(GrpcServerRequest<{{inputType}}, {{outputType}}> request);
{{/streamMethods}}
}

